html, body {
    background-color: rgb(226, 219, 219);
    height: 100%;

}

#topcontainer {
    /* width: 100% !important;
    height: 280px; */
    margin-top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important; 
    /* background-image: url(images/americanflag.jpeg); */
    /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
}


#flagcontainer {
    /* height: auto;
    width: 100%; */
    min-height: 190px;
    position: relative;
    /* text-align: center;
    width: 100%;  */
     background-image: url(images/us-flag.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; 
    
    

}

/* #americanflag {
    width: 100%;
    height: 250px; */
    /* overflow: hidden;
} */

#centeredtext {
    /* width: 90rem;
    height: 10rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); */
    color: rgb(136, 169, 212);
    /* font-size: 4.5rem; */
}

#campaignphoto {
    height: 20% !important;
   
}

/* #navbar {
    margin-left: 14rem;
} */

#thirdcontainer {
    width: auto;
    height: 300px;
    /* margin-top: 16.6rem;
    object-fit: fill !important;
    height: 50rem;
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 0rem;  */
}

#shrekdonkey {
    /* height: 300px !important; */
    /* margin-top: 30rem;
    margin-left: 12rem !important;
    font-size: 6rem; */
    position: relative;
    background-image: url(images/Shrek_announce_bid_for_president_2_1455754661573_7057242_ver1.0.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; 
    color: antiquewhite;

}
    


 #ourviewscontainer {
    /* margin-top: 6rem;
    height: 15rem; */
    width: auto;
    height: 90px;
    background-color: rgb(70, 72, 207); 
    
 }


#jointheogre {
    /* position: absolute;
    margin-bottom: 5rem;
    font-size: 11rem;
    /* margin-top: 1.5rem; */
    /* margin-left: 19rem;  */
    color: azure;
}

/* #cardsrow {
    height: 20rem;
    margin-top: 0;
    width: 100%;
}

#cardcontainer {
    height: 30rem;
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem; */


/* #firstcardsize {
    height: 20rem;
}

#btnbottom1 {
    margin-top: 0;
}

#secondcardsize {
    height: 20rem;
}

#princesspic {
    height: 14rem;
}

#btnbottom2 {
    margin-top: 0;
}

#thirdcardsize {
    height: 20rem;
}

#btnbottom3 {
    margin-top: 0rem;
} */

#videocontainer {
    /* margin-top: 5rem;
    height: auto; */
    background-color: black;
    /* margin-bottom: 5rem; */
}


/* Smartphones (portrait and landscape) ----------- */

    

